.container {
  width: 600px;
  height: 300px;
  background-color: rgb(124, 224, 224);
  display: grid;
  /* grid-template-rows: 60px 60px 60px 60px 60px;
  grid-template-columns: 100px 100px 100px ; */

  grid-template-columns: 100px 100px 100px;
  grid-template-rows: repeat(3 ,1fr);

  /* gap: 10px ;  same for both row and column */
  gap: 5px 30px; /* row and column*/

  /* column-gap: 10px;
  row-gap: 15px; */
  align-items: center;

  /* justify-content: center; */
}

.item {
  height: 50px;
  width: 50px;
  background-color: greenyellow;
  border: 2px solid black;
  text-align: center;
  justify-content: center;
}
.two {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* .one{ */
    /* grid-column-start: 1 ;
    grid-column-end: 3; */

    /* grid-column: 1 / 4; */
    
    /* grid-row-start: 1;
    grid-row-end: 3; */

    /* grid-row: 1/4; */
    
/* } */

.two1{
  background-color: black;
  height: 30px;
}
.two2{
  background-color: white;
  flex: 1;
}