.heading1{
    background-color: yellow;
    border: 2px black solid;
    text-align: center;
}
@media (max-width: 200px){
    .heading1{
        background-color: red;
        font-size: 10px;
    }
    .box{
        height: 50px;
        width: 200px;
        background-color: black;
        color: white;
    }
}
@media(min-width:200px) and (max-width: 400px){
.heading1{
    font-size: 30px;
        background-color: rgb(11, 193, 11);
        color: black;
    }
}
@media (orientation:landscape){
.heading1{
    background-color: maroon;
    color: wheat;
}
}