  *{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
  }
  .main_box{
    background: url(z_camera.jpg);
    height: 100vh;
    background-size: cover;
    
  }
  .btn_one i{
    color: white;
    font-size: 20px;
    font-weight: 700px;
      position: absolute;
      left: 20px;
      line-height: 60px; 
      cursor: pointer;
      transition-duration: 0.3s;
  }
  .sidebar_menu{
    position: absolute;
    left: -310px;
    height: 100vh ;
    width: 300px ;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6PX rgba(255, 255, 255, 0.5);
    transition-duration: 00.5s;
  }
  .sidebar_menu .logo  {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .sidebar_menu .logo a{
    color: white;
    position: absolute;
    left:  60px;
    text-decoration: none;
    font-size: 20px;
  }

  .sidebar_menu .btn_two i{
    color: rgba(255, 255, 255, 0.268);
    font-size: 15px;
    font-weight: 700px;
      position: absolute;
      left: 20px;
      line-height: 60px;
      cursor: pointer     ;
  }
  .sidebar_menu .menu{
    position: absolute;
    width: 100%;  
    height: 70%;
    top: 60px;
  }
  
  .sidebar_menu .menu li{
    margin-top: 6px;
    padding:14px 20px ;
      }

  .sidebar_menu .menu i , a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }   
  .sidebar_menu .menu i {
    padding-right: 10px;
  }

  .sidebar_menu .social_media {
    position: absolute;
    width: 100%;
    left: 25%;
    bottom: 50px;
    margin-top: 10px;
  }

  .sidebar_menu .social_media i{
    transition-duration: 00.5s;
    color: #ffffff;
    padding: 5px ;
    opacity: 0.5 ;
  }
  #check{
    display: none;
  }

  .sidebar_menu .menu li:hover{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }

  .btn_two i:hover{
    font-size: 25px;
  }
  .btn_one i:hover{
    font-size: 25px;
  }

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.3);
}
#check:checked~ .sidebar_menu{
        left: 0px;
}

#check:checked~ .btn_one i{
    opacity: 0;
}


  