h1 {
  color: #b92b27;
}
h3 {
  color: rgb(51, 15, 82);
}

/* #login{
    background-color: blanchedalmond;
}
#signup{
    background-color: #b92b27;
    color: white;
} */

.upvote {
  background-color: rgb(67, 66, 66);
  color: white;
}
.mainclass a {
  background-color: yellowgreen;
}

h3 {
  text-decoration: underline;
}

.upvote + button {
  /* button+button{ is same as up */
  background-color: rgb(66, 134, 134);
  color: rgb(0, 0, 0);
}

div > input {
  background-color: yellow;
}

a[href^="/"] {
  color: #9c2f2f;
}

input[type="text"] {
  color: purple;
}

button:hover {
  background-color: black;
  color: white;
}

h3:hover {
  text-decoration: none;
}

button:active {
  background-color: rgb(140, 44, 44);
}

input[type="radio"]:checked + label {
  font-weight: bold;
  color: rgb(45, 12, 227);
}

.h3:nth-of-type(2n){
  background-color: #ea9adc;
}
#lastl:hover{
  font-weight: bold;
}
p::first-line{
  color: green;
}

#lastl::selection{
  background-color: #9c2f2f;
}
