.card{
    height: 300px;
    width: 200px;
    display: inline-block;
    /* border: 2px black solid; */
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 5px 5px black;
}
.description{
    padding: 10px;
}
img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card:hover{
    box-shadow: 0 5px 30px black;
    transition: 0.5s linear;
}