#box{
    background-color: rgb(255, 208, 0);
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
}
.para{
    background-color: rgb(209, 199, 154);
    height: 100px;
    width: 100px;
    padding: 0px;
    margin: 0px;
}

#box2{
    background-color: rgb(0, 253, 76);
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
}
#box3{
    background-color: rgb(209, 199, 154);
    height: 100px;
    width: 100px;
    padding: 0px;
    margin: 0px;
}

.qu2{
    color: rgb(0, 255, 13);
    background-color: rgb(8, 0, 255);
    height: 100px;
}

.newclass{
    
    width: 100px;
    background-color: rgb(134, 127, 127);   
}